# Xcode / generated project
*.xcodeproj
*.xcworkspace
!default.xcworkspace
xcuserdata/
DerivedData/
build/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Fastlane / provisioning (if added later)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
